<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <table border="5px">
            <tr>
                <th>emp_name</th>
                <th>emp_no</th>
                <th>sal</th>
            </tr>
            {% for to in ELOB %}
            <tr>
                <td>{{ to.emp_name}}</td>
                <td>{{ to.emp_no}}</td>
                <td>{{ to.sal}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>